nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #387ADF;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #000;
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 10px 30px;
}

nav ul ul li:hover {
    background-color: #387ADF;
}